/* Based on Josh Comeau's Custom CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
@import url('reset.css');
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/* Variables */
@import url('vars.css');
/* Animations */
@import url('animations.css');
/* Main Styles */
@import url('styles.css');
