body {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: var(--font-monospace);
    font-size: var(--font-size-body);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#traichu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-l) var(--spacing-m) var(--spacing-m) var(--spacing-m);
    row-gap: var(--spacing-l);
    width: 20rem;
}

header {
    display: flex;
    justify-content: center;
}

header img,
header svg { height: 4.5rem; }

#dock ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    column-gap: var(--spacing-m);
    row-gap: var(--spacing-m);
    padding: 0;
}

#dock a {
    display: block;
    fill: var(--primary-link-color);
    transition: fill 0.25s ease-in-out;
}

#dock a:focus,
#dock a:hover {
    animation: slime 0.75s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    fill: var(--primary-link-hover-color);
    outline: none;
}

#dock li:nth-child(1) a:focus,
#dock li:nth-child(1) a:hover { fill: hsl(5, 81%, 56%); } /* Gmail */
#dock li:nth-child(2) a:focus,
#dock li:nth-child(2) a:hover { fill: hsl(217, 89%, 61%); } /* Google Calendar */
#dock li:nth-child(3) a:focus,
#dock li:nth-child(3) a:hover { fill: hsl(44, 100%, 50%); } /* Google Keep */
#dock li:nth-child(4) a:focus,
#dock li:nth-child(4) a:hover { fill: var(--primary-link-hover-color); } /* Notion */
#dock li:nth-child(5) a:focus,
#dock li:nth-child(5) a:hover { fill: hsl(102, 53%, 52%); } /* Github */
#dock li:nth-child(6) a:focus,
#dock li:nth-child(6) a:hover { fill: hsl(14, 89%, 53%); } /* Figma */

#dock svg { height: 1.5rem; }

#search {
    display: flex;
    justify-content: center;
}

#search form {
    flex-grow: 1;
    width: 100%;
}

#search input {
    background-color: var(--primary-background-color);
    background-position: right 1.25rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--primary-font-color);
    font-family: var(--font-sans-serif);
    line-height: 1.5;
    outline: 0.25rem solid transparent;
    padding: var(--spacing-m);
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    #search input {
        background-image: var(--svg-search-gray);
        border: 0.125rem solid hsl(var(--color-white-hsl) / 0.25);
    }
    
    #search input:hover { border-color: hsl(var(--color-white-hsl) / 0.5); }
    
    #search input:focus {
        background-color: hsl(var(--color-white-hsl) / 0.05);
        background-image: var(--svg-search-light-gray);
        outline-color: var(--color-orange);
    }
}

@media (prefers-color-scheme: light) {
    #search input {
        background-image: var(--svg-search-light-gray);
        border: 0.125rem solid hsl(var(--color-black-hsl) / 0.25);
    } 

    #search input:hover { border-color: hsl(var(--color-black-hsl) / 0.5); }
    
    #search input:focus {
        background-color: var(--color-white);
        background-image: var(--svg-search-gray);
        outline-color: var(--color-orange);
    }
}

#search input:active,
#search input:focus { border-color: transparent; }

#bookmarks {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bookmarks ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#bookmarks li {
    align-items: center;
    display: flex;
    flex-direction: row;
    line-height: 1;
    margin-bottom: var(--spacing-m);
}

.favicon {
    margin-right: var(--spacing-s);
    height: 1rem;
}

#bookmarks a {
    color: var(--primary-link-color);
    text-decoration: none;
    transition: color 0.25s ease-in-out;
}

#bookmarks a:focus,
#bookmarks a:hover { color: var(--primary-link-hover-color); }

/*
    Accessible hiding for screen readers
    https://webaim.org/techniques/css/invisiblecontent/#techniques
*/ 
.sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

@media screen and (min-width: 48em) {
    #traichu {
        padding: 0;
        width: 40rem;
    }

    header img,
    header svg { height: 7.5rem; }

    #dock ul {
        column-gap: 0;
        justify-content: space-around;
        padding: 0;
    }

    #bookmarks { flex-direction: row; }

    #bookmarks li:last-child { margin-bottom: 0; }
}
